.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #1e3c72, #2a69ac);

  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 20px;
}
